/* Theodore Bates
CSS Style Code for theodorebates.com
Styles adapted from NASA Guidelines
*/

display1 {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 59px;
    line-height: 1.2em/71px;
    letter-spacing: -.021em;
}

display2 {
	font-family: 'Helvetica';
	font-weight: 300;
	font-size: 44px;
	line-height: 1.2em/53px;
	letter-spacing: -.021em;
}

h1 {
	font-family: 'Helvetica';
	font-weight: 700;
	font-size: 44px;
	line-height: 1.2em/53px;
	letter-spacing: -.021em;
}

h2 {
	font-family: 'Helvetica';
	font-weight: 700;
	font-size: 34px;
	line-height: 1.2em/41px;
	letter-spacing: -.021em;
}

h3 {
	font-family: 'Helvetica';
	font-weight: 700;
	font-size: 24px;
	line-height: 1.2em/29px;
}

h4 {
	font-family: 'Helvetica';
	font-weight: 700;
	font-size: 19px;
	line-height: 1.2em/23px;
}

h5 {
	font-family: 'Helvetica';
	font-weight: 700;
	font-size: 16px;
	line-height: 1.2em/19px;
}

h6 {
	font-family: 'Helvetica';
	font-weight: 400;
	font-size: 13px;
	line-height: 1.5em/20px;
	text-transform: uppercase;
}

leadparagraph {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 22px;
	line-height: 1.5em/33px;
}

paragraph {
	font-family: 'Source Sans Pro';
	font-weight: 400;
	font-size: 17px;
	line-height: 1.5em/26px;
}

.maintitle {
    margin: 10px;
    color: white;
}

.container {
	position: relative;
	text-align: center;
	color: white;
}
/* Centered text */
.header-image display1 {
	font-size: 8vw;
	position: absolute;
	top: 75%;
	left: 5%;
	color:white
}

.header-image {
	background-image: url("../images/sawyer-bengtson-YaSH0DbU5lE-unsplash.jpg");
	width: 100%;
	height: 1000px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}