h1{
font-family: helvetica;
font-weight: 700;
font-size: 44px;
line-height: 1.2em/53px;
letter-spacing: -.021em;
}
  
h2{
font-family: Helvetica;
font-weight: 700;
font-size: 34px;
line-height: 1.2em/41px;
letter-spacing: -.021em;
}

h3{
font-family: Helvetica;
font-weight: 700;
font-size: 24px;
line-height: 1.2em/29px;
}
  
h4{
font-family: Helvetica;
font-weight: 700;
font-size: 19px;
line-height: 1.2em/23px;
}
  
h5{
font-family: Helvetica;
font-weight: 700;
font-size: 16px;
line-height: 1.2em/19px;
}
  
h6{
font-family: Helvetica;
font-weight: 400;
font-size: 13px;
line-height: 1.5em/20px;
text-transform: uppercase;
}
